<body>
<div class="fond">
  <div class="mouseZone">
    <div id="top"></div>
    <div id="bottom"></div>
  </div>
  <%= image_tag "fond.png", class:"photo" %>
  <%= image_tag "imagefix.png", class:"photo" %>
  <%= image_tag "imagemouv.png", class:"photo", id:"photomoved" %>

  <!-- <img src="../assets/images/imagemouv.png" class="photo"></img> -->
</div>
<div class ="bienvenue">
  <h1 class ="welcome1"> Rememb<span>Ex<span></h1>
</div>
<div class="bouton">
  <%= link_to "Add an Ex", new_ex_path, class: "btn first" %>
    <%= link_to "See all my exes", exes_path, class: "btn second" %>
</div>
</body>
