<p id="notice"><%= notice %></p>

<h1>Mes Ex</h1>
<div class="container exes">
  <% @exes.each do |ex|%>
    <%=link_to edit_ex_path(ex), class: 'col-sm-3' do %> <!--  link-to = a href pour le scss/css/html/etc!-->
      <div>
        <div class="overlay">
          <div>
            <span class="name"> <%=ex.name%> </span>
            <span class="note"> <%=ex.note%> </span>
          </div>
        </div>
        <%=image_tag ex.image.url(:medium)%>
      </div>
    <%end%>
  <%end%>
</div>
<%= link_to 'New Ex', new_ex_path %>
<%= link_to 'back', root_path %>
